<%- include ('partials/header') %>
<div id ="main_container" class="ui main text container segment"> 
    <div class="ui huge header"><%= blog.title%></div>
    <div class="ui top attached">
        <div class="item">
         <img class="ui centered rounded image" src="<%=blog.image_url%>">
         <div class="content">
         <span><%=blog.created.toDateString()%></span>
         </div>
         <div class="description">
              <p><%-blog.body%></p>
         </div>
         
          <p><a href="/blogs">go back!</a></p>
          <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
              <button class="ui inverted violet button">remove post</button>
          </form>
          
        </div>
    </div>
    
</div>





<%- include ('partials/footer') %>


